
.box1 {
  display: inline-flex;
  width: fit-content;
  padding: 2px;
  margin: 10px;
  border: 1px solid blueviolet;
    
}

.box2 {
  display: inline-flex;
  width: fit-content;
  padding: 2px;
  margin: 10px;
  border: 1px solid blueviolet;
    
}
