
h1 {
    text-align: center;
}

/* div {
    display: inline;
} */

.box {
    display: inline;
    width: fit-content;
    padding: 0px;
    margin: 1px;
    /* border: 10px solid blueviolet; */
}

